name: Conventional Commits

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  conventional-commits:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read

    steps:
      - name: Check PR Title
        uses: amannn/action-semantic-pull-request@0303e872a7dd27c5aa2a6a4abb490423aedc3a00 # v5.5.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
