name: Pull Request Title

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest

    permissions:
      pull-requests: read

    steps:
      - name: Check PR Title
        uses: amannn/action-semantic-pull-request@0723387faaf9b38adef4775cd42cfd5155ed6017 # v5.5.3
