name: Pull Request Title

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  pull-request-title:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read

    steps:
      - name: Check PR Title
        uses: amannn/action-semantic-pull-request@c24d6dd07c69e0826c52021944f216b2e3192535 # v5.5.0
