# See https://github.com/dorny/test-reporter?tab=readme-ov-file#recommended-setup-for-public-repositories
# for more info on this workflow

name: Test Reports
on:
  workflow_run:
    workflows: [ CI ]
    types:
      - completed
permissions:
  contents: read
  actions: read
  checks: write
jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - uses: dorny/test-reporter@v2
        with:
          artifact: test-results
          name: Test Results
          path: '**/*.xml'
          reporter: java-junit
          max-annotations: '50'
          fail-on-error: 'false'